<%= form_for(@web) do |f| %>
  <% if @web.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web.errors.count, "error") %> prohibited this web from being saved:</h2>

      <ul>
      <% @web.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :html %><br>
    <%= f.text_area :html %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.number_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.number_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :hatena %><br>
    <%= f.number_field :hatena %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
