<h1>一覧</h1>
<%= link_to '新規作成', new_web_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Hatena</th>
      <th>取得タイミング</th>
    </tr>
  </thead>

  <tbody>
    <% @webs.each do |web| %>
      <tr>
        <td><%= web.name %></td>
        <td><%= web.url %></td>
        <td><%= web.facebook %></td>
        <td><%= web.twitter %></td>
        <td><%= web.hatena %></td>
        <td><%= web.timing %></td>
        <td><%= link_to '詳細', web %></td>
        <td><%= link_to '編集', edit_web_path(web) %></td>
        <td><%= link_to '削除', web, method: :delete, data: { confirm: '本当に削除してよろしいでしょうか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


