<!DOCTYPE html>
<html lang="ja">
<head>
  <title>WebStock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "scraping" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>





<iframe id="target_frame" name="target_frame" src="" width="640px" height="800px" style="float:left;"></iframe>
<button onclick="getSource();">リンク先のhtmlを抽出する</button>
<!--<button onclick="result_clear();">クリア</button>-->

<!--<textarea id="source" style="width: 100%;height: 300px;"></textarea>-->

</body>
</html>
