<!DOCTYPE html>
<html lang="ja">
<head>
  <title>WebStock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "modernizr", "scraping" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



<div class="row">
    <div class="twelve columns">
      <p>12 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="eleven columns">
      <p>11 columns</p>
    </div>
    <div class="one columns">
      <p>1</p>
    </div>
  </div>
  <div class="row">
    <div class="ten columns">
      <p>10 columns</p>
    </div>
    <div class="two columns">
      <p>2</p>
    </div>
  </div>
  <div class="row">
    <div class="nine columns">
      <p>9 columns</p>
    </div>
    <div class="three columns">
      <p>3 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <p>8 columns</p>
    </div>
    <div class="four columns">
      <p>4 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="seven columns">
      <p>7 columns</p>
    </div>
    <div class="five columns">
      <p>5 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <p>6 columns</p>
    </div>
    <div class="six columns">
      <p>6 columns</p>
    </div>
  </div>







<iframe id="target_frame" name="target_frame" src="" width="640px" height="800px" style="float:left;"></iframe>
<button onclick="getSource();">リンク先のhtmlを抽出する</button>
<!--<button onclick="result_clear();">クリア</button>-->

<!--<textarea id="source" style="width: 100%;height: 300px;"></textarea>-->

</body>
</html>
